*.jpg
*/*.jpg
*/*/*.jpg
*/*/*/*.jpg
*/*/*/*/*.jpg

*.bk
*/*.bk
*/*/*.bk
*/*/*/*.bk
*/*/*/*/*.bk


*.sy
*/*.sy
*/*/*.sy
*/*/*/*.sy
*/*/*/*/*.sy


*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~

*.jpeg
*/*.jpeg
*/*/*.jpeg
*/*/*/*.jpeg
*/*/*/*/*.jpeg




